html
  head
    title= title
  body(style="font-family: monospace")
    h1 math API
    h2 Usage
    pre
      code="curl https://math.now.sh?from=\sum^{N}_{i}x_i"
    h3 HTML
    pre
      code="<img src=\"https://math.now.sh?from=\log \prod^N_i x_i = \sum^N_i \log x_i\" />"
    <img src="https://math.now.sh?from=\log \prod^N_i x_i = \sum^N_i \log x_i" />
    pre
      code="<img src=\"//math.now.sh?inline=\log \prod^N_i x_i = \sum^N_i \log x_i\" />"
    <img src="https://math.now.sh?inline=\log \prod^N_i x_i = \sum^N_i \log x_i" />
    
    h3 Markdown
    pre
      | ![](https://math.now.sh?from=LaTeX equation)