html
  head
    title= title
    meta(name="viewport" content="width=device-width")
    style
      | body {
      |   display: flex;
      |   justify-content: center;
      | }
      | .main {
      |   width: auto;
      |   padding: 15px;
      |   margin-bottom: 80px;
      | }
      | .notation {
      |   font-weight: bold;
      |   color: rgb(239, 83, 81);
      | }
      | .equation {
      |   font-weight: bold;
      |   color: rgb(94, 5, 255);
      | }
      | h1, h2 {
      |   margin-top: 80px;
      | }
      | h3 {
      |   margin-top: 30px;
      | }
  body(style="font-family: monospace")
    div.main
      h1 Math API
      p Place LaTeX Math equation on anywhere as <code>&lt;img&gt;</code> tag.
      h2 Usage
      p(style="font-size: 20px") https://math.now.sh?from=<span class="equation">LaTeX Math Equation</span>
      h3 Block notation
      p https://math.now.sh?<span class="notation">from</span>=<span class="equation">\sum^{N}_{i}x_i</span>
      img(src="https://math.now.sh?from=\\sum^{N}_{i}x_i")
      h3 Inline notation
      p https://math.now.sh?<span class="notation">inline</span>=<span class="equation">\sum^{N}_{i}x_i</span>
      img(src="https://math.now.sh?inline=\\sum^{N}_{i}x_i")

      h2 HTML Example
      <a href="https://codesandbox.io/s/2w223oq5lr">
        <img alt="Edit 2w223oq5lr" src="https://codesandbox.io/static/img/play-codesandbox.svg">
      </a>
      p
        = "<img src=\"https://math.now.sh?"
        <span class="notation">from</span>=
        | <span class="equation">\log \prod^N_i x_i = \sum^N_i \log x_i</span>
        = "\"/>"
      <img src="https://math.now.sh?from=\log \prod^N_i x_i = \sum^N_i \log x_i" />
      p
        = "<img src=\"https://math.now.sh?"
        <span class="notation">inline</span>=
        | <span class="equation">\log \prod^N_i x_i = \sum^N_i \log x_i</span>
        = "\"/>"
      <img src="https://math.now.sh?inline=\log \prod^N_i x_i = \sum^N_i \log x_i" />
      
      h2 Markdown Example
      p ![Equation 1](https://math.now.sh?<span class="notation">from</span>=<span class="equation">\log \prod^N_i x_i = \sum^N_i \log x_i</span>)
      
      h2 Contribution
      a(href="https://github.com/uetchy/math-api") Source Code (GitHub)